/* Шапка сайта */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 40px 50px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item:first-child {
    list-style: none;
}

.header__link {
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
}

.header__link_active {
    text-decoration: underline;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    display: block;
}

/* Адрес */
.address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
}

.header__address {
    justify-self: end;
    max-width: 200px;
}

.address a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Секция cover */
.cover {
    position: relative;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 165px 50px 0;
    width: 100%;
}

.aligned-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 2;
    padding: 106px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
    width: 100%;
}

.cover__description-text {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 22px;
    word-spacing: 18px;
}

.bet-button {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    padding: 12px 32px;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
}

/* Секция лотов */
.lots {
    padding: 0 24px;
    max-width: 1100px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    flex-wrap: nowrap;
    width: 100%;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    min-height: 450px;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card__title,
.card__text {
    position: relative;
    z-index: 2;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 15px;
}

.card__text {
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
}

/* Секция об аукционе */
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 80px 50px;
}

.about__column:first-child {
    display: flex;
    justify-content: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: auto;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text p {
    font-size: 20px;
    line-height: 1.2;
}

/* Подвал */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 40px 50px;
    align-items: start;
}

.footer .address {
    max-width: 250px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 8px;
}

.footer__menu-link {
    text-decoration: none;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: underline;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}